$primary-normal: #1D3557;
$primary-dark: #0B132B;
$primary-light: #457B9D;

$secondary-light: #1D4E89;  // Azul Petróleo Claro
$secondary-normal: #003B5C; // Azul Marinho Escuro
$secondary-dark: #002C47;   // Azul Noite

$black-light: #4A4A4A;
$black-normal: #333333;  
$black-dark: #000000; 

$branco-light: #F0F0F0;  // Branco Suave
$branco-normal: #FFFFFF; // Branco Neve
$branco-dark: #D1D1D1;   // Branco Acinzentado

$amarelo-light: #FFEB3B;  // Amarelo Claro
$amarelo-normal: #FDCB00; // Amarelo Dourado
$amarelo-dark: #F39C12;   // Amarelo Mostarda

$cor-fundo-escura: #0B132B;        // fundo principal escuro
$cor-texto-clara: #ffffff;         // textos e ícones claros
$cor-detalhe-azul: #457B9D;        // detalhes em azul marinho claro (hover, ícones)
$cor-destaque-amarelo: #FDCB00;    // amarelo vibrante para destaque
